
@import "variables";
@import "uikit";

body {

	background: $global-primary-background;

}

.default-header {

	min-height: 50vh;

	h1, h2, h3, h4, h5, h6, p, ul {

		color: $global-background;

	}

	.uk-flex {

		div {

			&:first-child {

				p {

					writing-mode: sideways-lr;
					text-orientation: mixed;

				}

				ul {

					list-style-type: none;
					padding: 0 0 0 5px;
					margin: 0;

				}

			}

		}

	}

}

.default-content {

	position: relative;
	background: $global-background;

}