
@import "variables";
@import "uikit";

body {

	background: $global-primary-background;

}

.default-header {

	min-height: 50vh;

	h1, h2, h3, h4, h5, h6 {

		color: $global-background;

	}

}

.default-content {

	position: relative;
	background: $global-background;

}